#mainDiv{
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    background-color: aquamarine;
    display: flex ;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.subDiv{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: rgb(169, 158, 158);
}
