body{
    width: 900px;
    height: 789px;
    margin: auto;
    border: 1px solid #000;
}
#display{
    display: flex;
    justify-content: space-between;
    #contact{
        width: 300px;
        height: 700px;
        padding: 50px;
        background-color: rgb(46, 47, 108);
    }
    #selfAbout{
        padding: 10px;
        background-color: rgb(167, 167, 233);
    }
}
.name{
    text-align: center;
    font-size: medium;
    #name{
        font-size: xx-large;
        margin: 10px auto;
    }
    #degisnation{
        font-size: large;
        margin-bottom: 10px ;
    }
    hr{
        border-bottom: 3px solid #0c0c0c;
    }
}
img{
    height: 250px;
    width: 250px;
    padding: auto;
    border: 3px solid rgb(234, 181, 181);
    border-radius:50%;
}