body{
    background-color: rgb(149, 207, 207);
}
#bulb{
    padding: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    width: fit-content;

}
button{
    margin: 5px;
}

#smartBulb{
    padding: 50px;
    border:  1px solid #000;
    border-radius: 50%;
    width: fit-content;
    justify-content: center;
}
.On{
    background-color: yellow;
}