@import "tailwindcss";
:root {
  /* Primary - Warm Brown Rose */
  --color-primary: #987070;
  --color-primary-hover: #7F5C5C;

  /* Secondary - Muted Dusty Pink */
  --color-secondary: #C39898;
  --color-secondary-hover: #B07F7F;

  /* Accent - Soft Blush */
  --color-accent: #DBB5B5;

  /* Background */
  --color-background: #F1E5D1;

  /* Text */
  --color-text: #4A3A3A;
}