@import "tailwindcss";

:root {
  /* Primary */
  --color-primary: #332D56;
  --color-primary-hover: #4E6688;

  /* Secondary */
  --color-secondary: #71C0BB;
  --color-secondary-hover: #4E6688;

  /* Background & Text */
  --color-background: #E3EEB2;
  --color-text: #332D56;

  /* Accent */
  --color-accent: #71C0BB;
}
