*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: blue;
}
#heading{
    padding: 10px;
    span{
        border-bottom: 4px solid blue;
    }
}
#registration{
    border: 1px solid black;
    height: 500px;
    width: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}
#fromfield{
    padding: 10px;
    margin: 10px;
}
#register{
    border: 1px solid black;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
#person{
    border: transparent;
    padding: 10px;
    border-bottom: 3px solid grey;
    margin: 5px;
    hover{
        
    }
}
#email{
    border: transparent;
    padding: 10px;
    border-bottom: 3px solid grey;
    margin: 5px;
}
#lock{
    border: transparent;
    padding: 10px;
    border-bottom: 3px solid grey;
}
#lock1{
    border: transparent;
    padding: 10px;
    border-bottom: 3px solid grey;
}
#checkbox{
    padding: 20px;
    margin: 10px;
}
#formcontrol {
    padding: 10px;
    span{
        color: blue;
    }
}