body{
    background-color: blue;
}
*{
    margin: 0px;
    padding: 0px;
    
}
 
#mainbox{
    height: 400px;
    padding: 40px;
    margin: 50px ;
    width: 400px;
    border: 1px solid black;
    font-size: 20px;
    background-color:white;
    border-radius: 2%;
}
#fromHeading span{
    border-bottom: 5px solid blue;

}

#formField{
    padding: 10px;
    margin: 10px;
    
}
#login{
    padding: 10px;
    margin: 10px;
    border: transparent;
    border-bottom: 2px solid rgb(107, 105, 105);

}
#password{
    padding: 10px;
    margin: 5px;
    border: transparent;
    border-bottom: 2px solid rgb(106, 103, 103);
}

#remember{
    padding: 10px;
    justify-content: space-between;
    
}

.d3{
    color: blue;
    justify-content: end;

}
#d1{
    border: 1px solid black;
    background-color:rgb(43, 43, 191) ;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}
 
#sign {
    padding: 10px;
    justify-content: center;
    span{
        color: blue;
    }
}
