#div,#div2{
    width: 500px;
    height: 100px;
    border: 5px solid rgb(29, 13, 13);
    font-size: 50px;
    padding: 50px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
#d3{
    width: 300px;
    height: 200px;
    border: 3px solid rgb(96, 15, 15);
    margin: 20px 30px 40px;
    padding: 0 0 0 40px;
    box-shadow: 5px 5px 5px 10px purple;
}