@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
p{
      font-family: "Momo Signature", cursive;
      font-weight: 400;
  font-style: italic;
}
h1 {
  font-family: "Pacifico", cursive;
  color: maroon;
  text-shadow: 2px 2px 5px rgb(75, 74, 74);
}
h2 {
  font-family: "Handlee", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
#div1 {
  border: 6px solid #03f35b;
  width: 500px;
}
#div2 {
  border: 7px double #e70a0a;
  width: 500px;
}